* {
    box-sizing: border-box;
}

.App_main {
    margin: auto;
    width: 90%;
}


/* NAVBAR MOBILE STYLING */
.Searchbar {
    margin-top: 25px;
}

#stock-search {
    border-radius: 8px;
    height: 25px;
    width: 150px;
}

input[type=text] {
    text-align: center;
}

.navGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navItem {
    flex: 1;
}

.middle {
    text-align: center;
    flex: 2;
}

.folderGroup {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.folderGroup > :first-child {
    display: none;
}

.watchlist .folderOpen {
    display: none;
}

.watchlist:hover .folderOpen {
    display: unset;
}

.watchlist:hover .folderClosed {
    display: none;
}

.watchItem{
    margin-right: 5px;
}

.end {
    text-align: end;
}

h1 {
    font-size: 19px;
}

.sub {
    font-style: italic;
    font-size: 10px;
}

.title {
    display: none;
}

li {
    list-style-type: none;
}

/* LINKS */

a {
    text-decoration: none;
    color: black;
}

a:visited {
    color: black;
}

@media all and (min-width: 900px) {
    .folderGroup > :first-child {
        display: unset;
    }
}