* {
  box-sizing: border-box;
}

.App_main {
  margin: auto;
  margin-bottom: 30px;
  width: 85%;
}

.homeinfo {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 50%
}

.mobileTitle {
    text-align: center;
    margin-bottom: 5px;
}

/* NAVBAR MOBILE STYLING */
.Searchbar {
  margin-top: 25px;
}

#stock-search {
  border-radius: 8px;
  height: 25px;
  width: 150px;
}

input[type="text"] {
  text-align: center;
}

.navGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navItem {
  flex: 1;
}

.middle {
  text-align: center;
  flex: 2;
}

.folderGroup {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.titleGroup {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.folderGroup > :first-child {
  display: none;
}

.watchlist .folderOpen {
  display: none;
}

.watchlist:hover .folderOpen {
  display: unset;
}

.watchlist:hover .folderClosed {
  display: none;
}

.watchItem {
  margin-right: 5px;
}

.end {
  text-align: end;
}

h1 {
  font-size: 19px;
}

.sub {
  font-style: italic;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.title {
  display: none;
}

/* LINKS */

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

/* INDIVIDUAL STOCK STYLING */
.homegroup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: auto;
  margin-top: 30px;
  width: 100%;
}

.homeitem {
  margin: 15px;
  width: 330px;
  padding: 25px;
  text-align: center;
  transition: transform 0.5s;
}

.homeitem h2,
h3 {
  margin: 0px;
  padding: 0px;
  color: black;
}

.homeitem h3 {
  margin-bottom: 10px;
}

.stock {
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgb(59, 59, 59);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}

@media all and (min-width: 900px) {
  .folderGroup > :first-child {
    display: unset;
  }

  .title {
    display: unset;
    align-items: center;
    margin-left: 8px;
  }

  .homeitem:hover {
    transform: scale(1.01);
  }

  .mobileTitle {
      display: none;
  }

  .homegroup {
      flex-direction: row;
      flex-wrap: wrap;
  }
}
